{
  "presets": [
    ["env", {
      "targets": {
        "node": 6
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "syntax-flow",
    "transform-decorators-legacy",
    // "flow-runtime",
    "transform-flow-strip-types"
  ]
}
