{
  "presets": [
    ["env", {
      "targets": {
        "node": 6
      }
    }],
    "stage-0",
    "bluebird"
  ],
  /*
  "env": {
    "development": {
      "plugins": [
        ["flow-runtime", {"assert": true,"annotate": true}]
      ]
    },
    "test": {
      "plugins": [
        ["flow-runtime", {"assert": true,"annotate": true}]
      ]
    }
  },
  */
  "plugins": [
    "transform-async-to-bluebird",
    "transform-promise-to-bluebird",
    "transform-runtime",
    "syntax-flow",
    "transform-decorators-legacy",
    // ["flow-runtime", {"assert": true,"annotate": true}],
    "transform-flow-strip-types"
  ]
}
