{
  "presets": [["env", {
    "targets": {
      "node": 6
    }
  }]],
  "plugins": [
    ["flow-runtime", {
      "assert": true,
      "annotate": true
    }],
    "syntax-flow",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-runtime",
    "add-module-exports",
    "transform-flow-strip-types"
  ]
}
