language: node_js

node_js:
  - 8

cache: yarn

before_install:
  - yarn -V
  - node -v
  # postgres
  - createdb sqlectron
  - psql -d sqlectron -a -f test/databases/postgresql/schema/schema.sql
  # mysql
  - mysql -e "create database sqlectron;" --user=root
  - mysql sqlectron < test/databases/mysql/schema/schema.sql --user=root
  # sqlserver
  # - sqlcmd -S localhost,1433 -U sa -P Password12! -Q "CREATE DATABASE sqlectron" -d "master"
  # - sqlcmd -S localhost,1433 -U sa -P Password12! -i test/databases/sqlserver/schema/schema.sql -d "sqlectron"
  # - sqlcmd -S localhost,1433 -U sa -P Password12! -Q "select table_name from information_schema.tables" -d "sqlectron"

script:
  - npm run coverage

after_script:
  - npm run coveralls
